<h2>Start with Angular</h2>
<tp-info></tp-info>
<!--<tp-data-binding></tp-data-binding>-->
<!--<tp-if-then-else></tp-if-then-else>-->

<!--<tp-ng-switch></tp-ng-switch>-->
<!--<div class="green">-->
  <!--<tp-ng-for></tp-ng-for>-->
<!--</div>-->

<!--<div class="dark">-->
  <!--<tp-view-encapsulation></tp-view-encapsulation>-->
<!--</div>-->

<!--<tp-ng-styled></tp-ng-styled>-->
<tp-ng-classes></tp-ng-classes>
<div>
  <input type="text" tpValidateNumber >
</div>

<div>
  <input type="text" tpTrimValue [ngModel]="inputValue"
         (inputChange)="changeInput($event)">
</div>
