<h2>Start with Angular</h2>
<!--<tp-info></tp-info>-->
<!--<tp-data-binding></tp-data-binding>-->
<!--<tp-if-then-else></tp-if-then-else>-->

<!--<tp-ng-switch></tp-ng-switch>-->
<!--<div class="green">-->
  <!--<tp-ng-for></tp-ng-for>-->
<!--</div>-->

<!--<div class="dark">-->
  <!--<tp-view-encapsulation></tp-view-encapsulation>-->
<!--</div>-->

<!--<tp-ng-styled></tp-ng-styled>-->
<!--<tp-ng-classes></tp-ng-classes>-->
<!--<div>-->
  <!--<input type="text" tpValidateNumber >-->
<!--</div>-->

<!--<div>-->
  <!--<input type="text" tpTrimValue [ngModel]="inputValue"-->
         <!--(inputChange)="changeInput($event)">-->
<!--</div>-->

<!--<tp-projects>-->
<!--</tp-projects>-->

<!--<tp-template-variable>-->
<!--</tp-template-variable>-->
<!--<div>-->
  <!--<button (click)="onClick()">-->
    <!--Toggle-->
  <!--</button>-->
  <!--<tp-lifecycle *ngIf="show"-->
                <!--[arr]="lcArr"-->
  <!--&gt;</tp-lifecycle>-->
<!--</div>-->

<!--<tp-tab-group>-->
  <!--<tp-tab tabTitle="Tab 1">-->
    <!--Tab content 1-->
  <!--</tp-tab>-->
  <!--<tp-tab tabTitle="Tab 2">-->
    <!--Tab content 2-->
  <!--</tp-tab>-->
<!--</tp-tab-group>-->


<!--<tp-tab-group>-->
  <!--<tp-tab tabTitle="Tab 3">-->
    <!--Tab content 3-->
  <!--</tp-tab>-->
  <!--<tp-tab tabTitle="Tab 4">-->
    <!--Tab content 4-->
  <!--</tp-tab>-->
<!--</tp-tab-group>-->

<!-- form -->
<tp-cmcform></tp-cmcform>
<tp-cmcform></tp-cmcform>
<tp-cmcform></tp-cmcform>

<h3>
  {{ '' | fnsDate }}
</h3>
